<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read <%= book.title %> </title>
    <link rel="stylesheet" href="/stylesheets/read.css">
</head>
<body>
    <div id = "content" class = "content"><%= book.content %></div>
    <a href = "/" id = "back" style =
    "font: bold;
     background-color: rgb(20, 50, 150);
      border: 0ch; 
      border-radius: 50%; width: 50px; text-align: center; left: 5vh;">
       <= 
    </a>
</body>
</html>
