<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <form action="http://localhost:8000/admin/register" method="post">
        <div class="container">
            <input placeholder="Username" style = "position: absolute; width: 400px; background-color: black; height: 3vh; color:whitesmoke" id = "username" name = "username">
            <br>
            <br>
            <input class = "btn-danger" type = "password" placeholder="Password" style = "position: absolute; width: 400px; background-color: black; color: whitesmoke; height: 3vh" name = "password">
            <br><br><br>
            <button type = "submit" style = "border: 3in;" class = "btn btn-primary">Submit</button>
        </div>    
    </form>
</body>
</html>